body {
    background-image: url();
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #044C92;
    margin: 0px auto;
    margin-bottom: 5px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

header h1, header nav {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    color: #F7FDFF;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #F7FDFF;
    flex: 1;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

img {
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_image img {
    width: 180px;
}

#boas_vindas {
    margin-left: 7%;
    margin-right: 7%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #044C92;
}

#boas_vindas h1 { 
    margin-bottom: 5%;
    margin-top: 0%;
    font-size: 350%;
}

#boas_vindas h2 {
    margin: 3%;
    color: black;
    font-size: 150%;
}

#boas_vindas p {
    color: black;
    font-size: 130%;
}

.main_creators_images {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_creators_images a {
    display: inline-block;
    text-decoration: none;
}

.main_creators_images a img {
    width: 70%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding: 0%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.main_creators_images a img:hover {
    transform: scale(1.1);

}

.main_creators_images a p {
    font-size: 120% !important;
    font-weight: bold;
    color: #044C92 !important;
}

.main_creators_images a p:hover {
    color: #774F9E !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    background-color: #012447;

}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #858F8E;
}
