body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  margin: 0;
  min-height: 100vh;
}
